
#main {
	margin:auto;

	/*max-height:500px;*/
	width:100%;
	height:100%;

	overflow-x:auto;
	overflow-y:hidden;
}

table#conversations_table {
	height:100%;
	margin-left:auto;
	margin-right:auto;
	overflow-y:hidden;
}

#new_conversation {
	background-color: #ffffff;
	color:#4AB948;
	border:3px dashed #4AB948;
	border-radius:10px;
	font-size: 22px;
	padding: 10px;
}

.conversations {
	/*padding-top:50px;*/
}

.conversation_cell {
	position: relative;
	padding-top:50px;
	padding-bottom:20px;
	min-width:400px;
	vertical-align: top;
	overflow-y:hidden;
}

.conversation {
	position: relative;
	height:100%;
}

.conversation > * {
	position: relative;
	z-index: 2;
	background-color: #ffffff;
}

.conversation_input {
	position:absolute;
	bottom:-20px;
	width:100%;
	height:20px;
}

.chat_msg_container {
	position:absolute;
	bottom:0px;
	left:0px;
	z-index: 1;
	width:100%;
	max-height:100%;
	vertical-align: bottom;
	overflow:auto;
}

.chat_msg > p{
	background-color: #fdfdfd;
	border:1px solid #eee;
	margin-bottom:-1px;
	padding:3px;
	color:#000;
}

.chat_msg > p > .name{
	font-weight:bold;
	color:#666;
}

.chat_msg > p > .seen_indication {
	font-style: italic;
	color:#CCCCCC;
}