.nav_bar > .inner > .nav_button {
	font-size:12px;
	min-width:30px;
}

.nav_bar > .inner > .nav_button.notif {
	width:100px;
}

.nav_bar > .inner > .nav_button.groups {
	width:100px;
	right:100px;
}

.notification h2{
	font-size:10px;
}
.notification p{
	font-size:10px;
}

.nav_dropdown {
	display:none;
	top:40px;
	width:100%;
	z-index:5;
	overflow:hidden;
}

.nav_bar .dropdown_button {
	display:block;
	position:absolute;
	top:0px;
	z-index:6;
}

.dropdown_button > img {
	padding:7px 5px 0px 5px;
	width:37px;
}

.inner > .nav_dropdown > .nav_button {
	float:none;
	min-width:70px;
	padding:5px 5px 5px 5px;
	text-align:center;
	display:block;
	font-size:20px;
	line-height:28px;
	color:#ffffff;
	background-color:#4AB948;
}
