
*{
	margin:0;
	padding:0;
	outline:0;
	border:0;

	font-family: Arial, sans-serif;
	font-size:14px;
	-webkit-font-smoothing: antialiased;
}

input, textarea{
	font-size: 12px;
}

h1,h2{
	font-weight:normal;
}

h1 {
	font-size: 14pt;
}

h2 {
	font-size: 20px;
}

html,body {
	background-color:#fff;

	height: 100%;

	overflow-x:hidden;
}

body {
	overflow-x:auto;
	overflow-y:auto;
}

a {
	color:inherit;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

.nav_bar {
	background-color:#4AB948;
	border-bottom:3px solid #3D9A3C;
	height:25px;
	width:100%;
	position:fixed;
	z-index:1000;
}

.nav_bar > .inner {
	max-width:1000px;
	position:relative;
	margin:auto;
}

.nav_bar .dropdown_button {
	display:none;
}

.nav_dropdown {
	position:absolute;
	overflow:visible;
}

.nav_bar > .inner .nav_button {
	float:left;
	min-width:70px;
	padding:5px 5px 5px 5px;
	text-align:center;
	display:block;
	font-size:16px;
	line-height:18px;
	color:#ffffff;
}

.nav_bar > .inner .nav_button:hover {
	text-decoration: none;
}

.inner > .nav_dropdown > .search_bar {
	display:none;
}

#nav_button_logout {
	background-color: #000;
	color: #fff;
}
#nav_button_logout:hover {
	background-color: #fff;
	color: #000;
}

.nav_bar > .inner > .nav_button.notif {
	width:200px;
	position:absolute;
	right:0px;
}

.nav_bar > .inner > .nav_button.groups {
	width:100px;
	position:absolute;
	right:200px;
}

#notif_label, #groups_label {
	font-size:inherit;
}

#notifications, #groups {
	max-height:300px;
	width:100%;
	overflow:auto;
	position:absolute;
	left:0px;
	top:26px;
	z-index:1000;
}

.notification {
	line-height:1em;
}

.nav_bar > .inner .nav_button:hover,
.nav_bar > .inner .nav_button.selected {
	background-color:#3D9A3C;
}

.notification {
	margin:0px 0px -1px 0px;
	background-color: #4AB948;
	color: #fff;
	text-align: left;
}

.notification.seen {
	background-color: #f0f0f0;
	color: #666;
}

.notification > a:hover {
	display: block;
	text-decoration: none;
	background-color: #000;
	color: #fff;
}

.notification.seen > a:hover {
background-color: #888;
}

.notification h2{
	font-size:12px;
	font-weight:bold;
	padding: 3px;
}
.notification p{
	font-size:12px;
	padding:3px;
}

.group {
	color:#000;
}

.group a{
	display: block;
}

.group a:hover{
	background-color: #444;
	color:#fff;
}

.3dtitle {
	background-color:#4AB948;
	border-bottom:3px solid #3D9A3C;
}

.box {
	background-color:#f0f0f0;
	border-top:3px solid #dbdbdb;
}
