<div class="box comment">
	<a href="../user/{user_id}">
		<img src="../profile_pictures/{user_picture}" class="small_display_picture">
		<span style="padding-top:0px;">{user_name}</a>
	</span>
	<p>{comment_content}</p>
	<p class="comment_time">{comment_time}</p>

	<a style="display:{display_delete}" href="javascript:;" onclick="change_feed('script/comment/delete.php?comment_id={comment_id}',{page})"><img class="delete_comment" alt="delete comment" title="Delete comment" src="img/cross.png"></a>
</div>
